<ion-view view-title="Search">
  <ion-content>
    <div class="list">
	  <label class="item item-input">
	    <span class="input-label">Beer Name</span>
	    <input type="text" placeholder="Search" ng-model="form.name">
	  </label>
	</div>

  <label class="item item-input">
    <span class="input-label">Year</span>
    <input type="tel" placeholder="2016" ng-model="form.year">
  </label>

  <label class="item item-input">
    <span class="input-label">% ABV</span>
    <input type="tel" placeholder="16%" ng-model="form.abv">
  </label>

  <button class="button button-positive button-block" ng-click="search()">Submit</button>
  </ion-content>
</ion-view>
